<div class="container">
  <h1 style="font-family: sans-serif;">Sales Information</h1>
  <div class="text-center">
    <button class="btn btn-default" type="button" (click)="openCustomModal()">Add New Data</button>
  </div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead class="blue-grey lighten-4">
      <tr>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Customer Address</th>
        <th>Product Name</th>
        <th>Product Brand</th>
        <th>Product Quantity </th>
        <th>Product Price</th>
        <th>Product Sold Price</th>
        <th>Sold Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sales of salesInfo">
        <td>{{sales.sID}}</td>
        <td>{{sales.cName }}</td>
        <td>{{sales.cAddress }}</td>
        <td>{{sales.pName }}</td>
        <td>{{sales.pBrand }}</td>
        <td>{{sales.pQuantity }}</td>
        <td>{{sales.pPrice }}</td>
        <td>{{sales.pSold}}</td>
        <td>{{sales.soldDate| date: 'dd/MM/yyyy'}}</td>
        <td><button class="btn btn-outline-info" type="button" (click)="editData(sales)">Edit</button>
            <button class="btn btn-outline-danger" type="button" (click)="delData(sales._id)">Delete</button>
          </td>
      </tr>
    </tbody>
    </table>
</div>