<div class="container">
  <h1 style="font-family: sans-serif;">Dealer Information</h1>
  <div class="text-center">
    <button class="btn btn-default" type="button" (click)="openCustomModal()">Add New Data</button>
  </div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead class="blue-grey lighten-4">
      <tr>
        <th>ID</th>
        <th>Dealer Name</th>
        <th>Company</th> 
        <th>purchase Products</th>
        <th>purchase Price</th>
        <th>Purchasing Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dealer of dealerInfo">
        <td>{{dealer.dID }}</td>
        <td>{{dealer.dName }}</td>
        <td>{{dealer.company }}</td>
        <td>{{dealer.purchaseProducts }}</td>
        <td>{{dealer.purchasePrice }}</td>
        <td>{{dealer.purchasingDate| date: 'dd/MM/yyyy'}}</td>
        <td>
          <button class="btn btn-outline-info" type="button" (click)="editData(dealer)">Edit</button>
          <button class="btn btn-outline-danger" type="button" (click)="delData(dealer._id)">Delete</button>
        </td>

      </tr>
    </tbody>
    </table>
</div>