<!-- Material form register -->
<form class="well" (submit)="editDealerData(parentInfo._id,parentInfo)"  method="put" id="dealer-form" > 
  <!-- Material input text -->
      <div class="md-form" style="margin-top: 0;">
          
          <i class="fa fa-user prefix grey-text"></i>
          <label>Dealer Name</label><br/>
          <input type="text" [(ngModel)]="parentInfo.dName" name="dName" id="dName" class="form-control">
          
      </div>
  
      <!-- Material input email -->
      <div class="md-form" style="margin-top: 0;">
          <i class="fa fa-envelope prefix grey-text"></i>
          <label>Company</label><br/>
          <input type="text" [(ngModel)]="parentInfo.company" name="company" class="form-control">
          
      </div>
      <!-- Material input purchase Product -->
      <div class="md-form" style="margin-top: 0;">
          <i class="fa fa-shopping-cart  prefix  grey-text" aria-hidden="true"></i>
          <label>Purchase Product</label><br/>
          <input type="text"  [(ngModel)]="parentInfo.purchaseProducts" name="purchaseProduct" class="form-control">
          
      </div>
          <!-- Material input purchase price -->
      <div class="md-form" style="margin-top: 0;">
          <i class="fa fa-rupee  prefix  grey-text" aria-hidden="true"></i>
          <label>purchase Price</label><br/>
          <input type="number" [(ngModel)]="parentInfo.purchasePrice" name="purchasePrice" class="form-control">
          
      </div>
      
      <div class="md-form" style="margin-top: 0;">
          <i class="fa fa-calendar  prefix  grey-text" aria-hidden="true"></i>
          <label>Purchasing Date</label><br/>
          <input type="date" [(ngModel)]="parentInfo.purchasingDate" name="purchasingDate" class="form-control">
          
      </div>
      <div class="text-center mt-4">
          <button href="/dealer" class="btn btn-primary" type="submit">Save</button>
      </div>
  </form>
  <!-- Material form register -->
  <!-- <p>This came from parent: <b>{{parentInfo}}</b></p> -->
  