<div class="container">
    <h1 style="font-family: sans-serif;">Stock Information</h1>
    <div class="text-center">
      <button class="btn btn-default" type="button" (click)="openCustomModal()">Add New Data</button>
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead class="blue-grey lighten-4">
        <tr>
          <th>ID</th>
          <th>Product Name</th>
          <th>Product Brand</th>
          <th>Product quantity </th>
          <th>Product Cost</th>
          <th>Product Price for sale</th>
          <th>Purchasing Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of stockInfo">
          <td>{{stock.pID}}</td>
          <td>{{stock.pName }}</td>
          <td>{{stock.pBrand }}</td>
          <td>{{stock.pQuantity }}</td>
          <td>{{stock.pCost}}</td>
          <td>{{stock.pPrice }}</td>
          <td>{{stock.purchaseDate| date: 'dd/MM/yyyy'}}</td>
          <td>
            <button class="btn btn-outline-info" type="button" (click)="editData(stock)">Edit</button>
            <button class="btn btn-outline-danger" type="button" (click)="delData(stock._id)">Delete</button>
          </td>
        </tr>
      </tbody>
      </table>
  </div>    