<div class="container">
  <h1 style="font-family: sans-serif;">Customer Information</h1>
  <div class="text-center">
      <button class="btn btn-default" type="button" (click)="openCustomModal()">Add New Data</button>
    </div>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead class="blue-grey lighten-4">
      <tr>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Customer Address</th> 
        <th>Sales Products</th>
        <th>Original Price</th>
        <th>Sales Price</th>
        <th>OrderDate</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customerInfo">
        <td>{{customer.cID }}</td>
        <td>{{customer.cName }}</td>
        <td>{{customer.cAddress }}</td>
        <td>{{customer.salesProducts }}</td>
        <td>{{customer.originalPrice }}</td>
        <td>{{customer.salesPrice }}</td>
        <td>{{customer.orderDate | date: 'dd/MM/yyyy'}}</td>
        <td>
            <button class="btn btn-outline-info" type="button" (click)="editData(customer)">Edit</button>
            <button class="btn btn-outline-danger" type="button" (click)="delData(customer._id)">Delete</button>
          </td>
      </tr>
    </tbody>
    </table>
</div>