<!--Grid column-->
<div class="row justify-content-center align-self-center">
  
  <section class="form-gradient col-lg-4 col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower">
      <!--Card image-->
      <div class="view gradient-card-header peach-gradient text-center">
        <h2 class="h2-responsive">Login</h2>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <form class="well" (submit)="userData($event)"  method="post" id="login-form"  >
          <div class="form-group">
            <div class="md-form d-flex">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input mdbInputDirective type="text" [(ngModel)]="username" data-error="wrong username" data-success="right username" class="form-control" id="form9" name="username">
                <label for="form9">Enter User Name</label>
            </div>
            <div class="md-form d-flex">
                <i class="fa fa-lock prefix grey-text"></i>
                <input mdbInputDirective type="password" [(ngModel)]="password" data-error="wrong password" data-success="right password" class="form-control" id="form10" name="password">
                <label for="form10">Enter password</label>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-deep-orange waves-light" mdbWavesEffect value="Login">
            </div>
            <p>Have an Account?<span routerLink="/signup">Sign Up</span></p>
              
          </div>
        </form> 
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </section>
</div>
<!--Grid column-->
