
<div class="container" >
  <div class="d-inline-flex " >
    <div class="px-5 py-5">
      <!--Card-->
      <div class="card ">
        
        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbWavesEffect>
            <img src="assets\img\dealer.jpg" class="img-fluid w-100" alt="Dealer.">
            <a>
                <div class="mask"></div>
            </a>
        </div>
        
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Dealer</h4>
            <!--Text-->
            <p class="card-text">A dealer are the data of a person or firm in the business from which you buying Products.</p>
        </div>
        
      </div>
      <!--/.Card-->
    </div>
    
    <div class="px-5 py-5"> 
      <div class="card">
        
        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbWavesEffect>
            <img src="assets\img\customer.jpg" class="img-fluid w-100 h-100" alt="Card image with a tree in a middle of a lake.">
            <a>
                <div class="mask"></div>
            </a>
        </div>
        
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Customer</h4>
            <!--Text-->
            <p class="card-text">A customer data of a person or firm in the business whom You Selling our Products.</p>
        </div>
      </div>
      <!--/.Card-->
    </div>
  </div>
  <div class="d-inline-flex "> 
    <div class="px-5 py-5" >
       <!--Card-->
    <div class="card">
        
        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbWavesEffect>
            <img src="assets\img\stock3.jpg" class="img-fluid w-100" alt="Stock">
            <a>
                <div class="mask"></div>
            </a>
        </div>
        
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Stock</h4>
            <!--Text-->
            <p class="card-text">The Stock data of the goods stored in the shop and available for sale or distribution.</p>
        </div>
        
      </div>
      <!--/.Card-->  
    </div> 
    
    <div class="px-5 py-5">
      <!--Card-->
      <div class="card"> 
        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbWavesEffect>
            <img src="assets\img\sales.jpg" class="img-fluid w-100" alt="Sales" >
            <a>
                <div class="mask"></div>
            </a>
        </div> 
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Sales</h4>
            <!--Text-->
            <p class="card-text">The Sales are data of number of goods, products that a company sells to their customer</p>
        </div>
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>