<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark mb-5 mdb-color darken-3">
    
<!-- Navbar brand -->
    <logo>
        <img src="assets\img\logo.jpg" alt="logo"  height="50" width="50">
        <a class="navbar-brand" href="#">{{name}}</a>
    </logo>

<!-- Collapsible content -->
<links>

 <!-- Links -->
 <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
         <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
         <a routerLink="/dealer" class="nav-link waves-light" mdbWavesEffect>Dealer</a>
     </li>
     <li class="nav-item">
         <a routerLink="/customer" class="nav-link waves-light" mdbWavesEffect>Customer</a>
     </li>
     <li class="nav-item">
        <a routerLink="/stock" class="nav-link waves-light" mdbWavesEffect>Stock</a>
    </li>
    <li class="nav-item">
        <a routerLink="/sales" class="nav-link waves-light" mdbWavesEffect>Sales</a>
    </li>

 </ul>
 <!-- Links -->

<!-- Search form -->
 <form class="form-inline waves-light" mdbWavesEffect>
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="/signup" class="fa fa-sign-in mr-1 nav-link waves-light" mdbWavesEffect> Log In/Out</a>
        </li>
     </ul>
 </form>
 
</links>
<!-- Collapsible content -->

</mdb-navbar>
<!-- <div class="panel panel-default" [style.background]="'url(assets/img/bg.jpg)'"> -->
    <router-outlet></router-outlet>
<!-- </div> -->

