<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark mdb-color darken-3">
    
<!-- Navbar brand -->
<logo>
    <!-- <img src="./img/khatta.jpg" alt="logo"  height="42" width="42"> -->
    <a class="navbar-brand" href="#">{{name}}</a></logo>

<!-- Collapsible content -->
<links>

 <!-- Links -->
 <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
         <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
         <a routerLink="/dealer" class="nav-link waves-light" mdbWavesEffect>Dealer</a>
     </li>
     <li class="nav-item">
         <a routerLink="/supplier" class="nav-link waves-light" mdbWavesEffect>Supplier</a>
     </li>
     <li class="nav-item">
        <a routerLink="/stock" class="nav-link waves-light" mdbWavesEffect>Stock</a>
    </li>
    <li class="nav-item">
        <a routerLink="/sales" class="nav-link waves-light" mdbWavesEffect>Sales</a>
    </li>

     <!-- Dropdown -->
     <li class="nav-item dropdown" dropdown>
         <a dropdownToggle mdbWavesEffect type="button" routerLink="" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
         Basic dropdown<span class="caret"></span></a>
         <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
             <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
             <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
             <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
             <div class="divider dropdown-divider"></div>
             <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
         </div>
     </li>

 </ul>
 <!-- Links -->

<!-- Search form -->
 <form class="form-inline waves-light" mdbWavesEffect>
     <div class="md-form mt-0">
         <input class="form-control mr-sm-2" type="text" placeholder="Search">
     </div>
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="/signup" class="nav-link waves-light" mdbWavesEffect>SignUp/Login</a>
        </li>
     </ul>
 </form>
 
</links>
<!-- Collapsible content -->

</mdb-navbar>

<router-outlet></router-outlet>
